* {
    margin: 0;
    padding: 0;
    color: #52525b;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#left {
    background-color: #7706CD;
    height: 150vh;
}

.container-sty {
    background-color: white;
    border-radius: 10px;
    width: 100%;
}


.dropdown-menu {
    background-color: #7706CD;
    border: none;

}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #7706CD;
    color: white;
}

.dropdown-item {
    color: white;
}

i,
.para {
    color: white;
}

.content {
    color: white;
    padding-left: 7%;
}

.span {
    float: inline-end;
}


.input-box {
    width: 50% !important;
    position: relative !important;
    display: inline-flex !important;
    justify-content: center !important;
    margin-left: 25%;
    border-radius: 50px;
}

.input-box i {
    position: absolute;
    right: 13px;
    top: 12px;
    color: #ced4da;
}

.list-group-item {
    background-color: #7706CD !important;
    color: white !important;
    font-size: small !important;
    border: none !important;
}


.list-group-item-action {
    background-color: #7706CD !important;
    color: white !important;

}

.note .list-group-item {
    position: relative !important;
    list-style: circle !important;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x) !important;
    color: var(--bs-list-group-color) !important;
    text-decoration: none !important;
    background-color: var(--bs-list-group-bg) !important;
    border: none !important;

    font-size: x-small !important;
}

.list-group-item a {
    color: white;
}




.details-row {
    background-color: #f8f9fa;
}

.details-row td {
    padding: 20px;
}

.details-row .btn {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-row .btn-assign {
    background-color: #6f42c1;
    color: #fff;
    width: 100%;
}

.details-row .btn-reject {
    border: 1px solid #6f42c1;
    color: #6f42c1;
    background-color: transparent;
    width: 100%;

}

.details-row .btn-assign i,
.details-row .btn-reject i {
    margin-right: 5px;
}

.collapse-icon {
    cursor: pointer;
    font-size: 1.25rem;
}

#employeeName {
    width: 100%;
    /* margin-left: 25%; */
}

tr {
    border-top: 1px solid inherit;
}

tr th {
    color: #7706CD !important;
    text-align: center !important;
}

td {
    text-align: center;
}

#table {
    margin-left: -3%;
    margin-right: -3%;
    width: 100%;
}

table {
    width: 100%;
}

.text-muted {
    font-size: 12px;
}

label {
    font-weight: bold;
    color: black;
}

#details1 {
    text-align: left;
}

#navbarDropdown {
    padding-left: 18%;
    color: white;
}

a {
    text-decoration: none;
}

th {
    border-top: 1px solid #ced4da;
}

.employee,.remove {
    float: inline-end;
    border: 1px solid #7706CD;
    color: #7706CD;
    padding: 5px 30px 5px 30px;
    margin-right: 5%;
    background-color: transparent;
    border-radius: 5px;
}
.modify{
    float: inline-end;
    border: 1px solid #7706CD;
    color: white;
    padding: 5px 30px 5px 30px;
    margin-right: 5%;
    background-color: #7706CD;
    border-radius: 5px;
}

select{
    border: 1px solid #ced4da;
    width: 60%;
    padding: 7px;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    #left {
        height: auto;
        padding: 40px 0;
    }

    .container-sty {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .container-sty {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .container-sty {
        width: 100%;
        padding: 15px;
    }

    .content {
        color: white;
        padding-left: 2%;
    }
}

@media (max-width: 576px) {
    .container-sty {
        width: 100%;
    }

    .upload-label {
        font-size: 14px;
        padding: 8px;
    }

    .login-button {
        padding: 8px;
    }
}

@media (max-width: 450px) {
    .login-img-sty {
        width: 100%;
    }

    #left {
        padding: 20px 0;
    }

    .content {
        color: white;
        padding-left: 4%;
    }

    #icon {
        margin-left: 2%;
    }

    #icon2 {
        margin-left: 8%;
    }
}


