* {
    margin: 0;
    padding: 0;
    color: #52525b;
}
.span {
    float: inline-end;
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
 
}

#left {
    background-image: radial-gradient(#004102, #131313 50%);
    height: 200vh;
   
}

.container-sty {
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.dropdown-menu {
    background-image: radial-gradient(#004102, #131313 50%);
    border: none;
}

.dropdown-item {
    color: white;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-image: radial-gradient(#004102, #131313 50%);
    color: white;
}

i,
.para {
    color: white;
}

.content {
    color: white;
    padding-left: 7%;
}

.input-box {
    width: 50% !important;
    position: relative !important;
    display: inline-flex !important;
    justify-content: center !important;
    margin-left: 25%;
    border-radius: 50px;
}

.input-box i {
    position: absolute;
    right: 13px;
    top: 12px;
    color: #ced4da;
}
/* Custom styles for alternating row colors in DataTable */
table.dataTable.table-striped > thead{
    background: none;
    color:#006103;

}
/* Apply a light green background for odd rows */
table.dataTable.table-striped > tbody > tr.odd {
    background-color: #def8de !important; /* Light green */
    box-shadow: none; /* Remove the default shadow */
}

/* Apply a white background for even rows */
table.dataTable.table-striped > tbody > tr.even {
    background-color: #ffffff !important; /* White */
}

/* Override the default box-shadow for all odd rows */
table.dataTable.table-striped > tbody > tr.odd > * {
    box-shadow: none; /* Remove default shadow for all cells in odd rows */
}


.details-row {
    background-color: #c7cdd3;
}

.details-row td {
    padding: 20px;
    width: 50%;
}

.button-container {
    display: flex; /* Use Flexbox to align the buttons horizontally */
    gap: 10px; /* Optional: Adds space between the buttons */
    justify-content: flex-start; /* Align the buttons to the left (or you can use 'center' or 'flex-end') */
}

.details-row .btn {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-row .btn-assign,
.details-row .btn-restore {
    background-image: radial-gradient(#004102, #131313 50%);
    color: #fff;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
}

.details-row .btn-reject {
    color: #ff0606;
    background-color: transparent;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, #004102, #131313) border-box;
    border: 4px solid transparent;
}

.details-row .btn-assign i,
.details-row .btn-reject i {
    margin-right: 5px;
}

#rejectedTicketTable td .issue-type.ac .circle,
#unassignedTicketTable td .issue-type.ac .circle,
#ticketTable td .issue-type.ac .circle{
    background-color: #daba1ece; /* AC color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#rejectedTicketTable td .issue-type.Fridge .circle,
#unassignedTicketTable td .issue-type.Fridge .circle,
#ticketTable td .issue-type.Fridge .circle{
    background-color: #04b9f6; /* Fridge color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#rejectedTicketTable tbody td .issue-type,
#unassignedTicketTable tbody td .issue-type,
#ticketTable tbody td .issue-type
 {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #f6eec9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#rejectedTicketTable td .issue-type.Fridge ,
#unassignedTicketTable td .issue-type.Fridge,
#ticketTable td .issue-type.Fridge
 {
    background-color: #caedf8; 
}

#rejectedTicketTable,
#unassignedTicketTable,
#ticketTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


#rejectedTicketTable thead th,
#unassignedTicketTable thead th,
#ticketTable thead th
 {

    color:#006103;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
#rejectedTicketTable tbody tr,
#unassignedTicketTable tbody tr,
#ticketTable tbody tr
 {
    background-color: #fff;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#rejectedTicketTable tbody td,
#unassignedTicketTable tbody td,
#ticketTable tbody td
{
   
    padding-left: 12px;
    border-bottom: 1px solid #eaeaea;
    font-size: 0.9rem;
}



#rejectedTicketTable tbody tr td:first-child,
#unassignedTicketTable tbody tr td:first-child,
 #ticketTable tbody tr td:first-child{
    text-align: center;
}

/* #sidebar {
    background-color: #202020; 
}

#sidebar a {
    color: #fff; 
} */



#searchbar {
    width: 250px;
    padding: 8px;
    margin: 10px;
}

.collapse-icon {
    cursor: pointer;
    font-size: 1.25rem;
}

#employeeName {
    width: 100%;
    margin-left: 25%;
}



td {
    text-align: center;
}

#table {
    width: 100%;
}

.table thead tr th {
    color: #083a0a;
    font-weight: bold;
    padding: 10px;
    text-align: center !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.text-muted {
    font-size: 12px;
}

label {
    font-weight: bold;
    color: black;
}

#details1 {
    text-align: left;
}

#navbarDropdown {
    padding-left: 18%;
    color: white;
}

a {
    text-decoration: none;
}

#lable {
    text-align: left !important;
}

#whole-table {
    border: 1px solid;
    padding: 20px;
}



.toggle-row.expanded .collapse-icon::before {
    content: "⮟";
}

.pagination {
    margin: 10px 0;
    text-align: right;
}

.pagination button {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 2px;
    cursor: pointer;
}

.pagination button.disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

#searchInput {
    margin-top: 10px;
    padding: 8px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filter-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.dataTables_filter {
    margin-bottom: 20px;
}

.dataTables_length select {
    padding-right: 25px;
    margin-right: 10px;
}

.dataTables_length select {
    width: auto;
    min-width: 75px;
    padding-right: 15px;
}

.dataTables_length label {
    margin-right: 10px;
}

.dataTables_paginate {
    display: flex;
    align-items: center;
}

/* .list-group-item {
    background: transparent !important;
    color: white !important;
    font-size: small !important;
    border: none !important;
}

.list-group-item-action {
    background: transparent !important;
    color: white !important;
} */

.note .list-group-item {
    position: relative !important;
    list-style: circle !important;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x) !important;
    color: var(--bs-list-group-color) !important;
    text-decoration: none !important;
    background-color: var(--bs-list-group-bg) !important;
    border: none !important;
    font-size: x-small !important;
}

.list-group-item a {
    color: white;
}

.collapse-content {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.dataTables_filter {
    float: right;
}

.dataTables_paginate {
    float: right;
}

td.details-control {
    cursor: pointer;
}


/* Default down arrow */
td.details-control::before {
    content: ' ⮟ ';
    /* Smooth transition */
}

/* When toggled, show up arrow */
tr.shown td.details-control {
   content: ' ';
}


#rejectedTicketTable tbody tr,
#unassignedTicketTable tbody tr,
#ticketTable tbody tr
 {
    background-color: #f9f9f9;
    transition: background-color 0.2s ease;
}



#rejectedTicketTable td,
#unassignedTicketTable td,
#ticketTable td
 {
    color: #4a4a4a;
    background: none;
    border-bottom: 1px solid #e0e0e0;
}



#rejectedTicketTable td .circle,
#unassignedTicketTable td .circle,
#ticketTable td .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
}
#rejectedTicketTable td div ,
#unassignedTicketTable td  div,
#ticketTable td  div
 {
   padding-left: 8px;
}

